
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/SingleProduct.cshtml";
}
@using X.PagedList.Mvc.Core;





<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Tìm kiếm sản phẩm </h2>
                    <form asp-controller="Home" asp-action="TimKiem" method="get">
                        <input type="text" name="Tensp" placeholder="Nhập từ khóa tìm kiếm" />
                        <button type="submit">Tìm kiếm</button>
                   
                    </form>
                
                </div>
               
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Sản phẩm</h2>
                    <span>Chúng tôi cập nhập những mấu mới nhất hiện nay </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
   @model X.PagedList.IPagedList<SanPham>
@foreach (var item in Model)
{
            <div class="col-lg-4">
                <div class="item">
                    <div class="thumb">
                        <div class="hover-content">
                            <ul>
                                    <li> <a asp-controller="Home" asp-action="ChiTietSanPham" asp-route-Masp=@item.MaSp><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <img src="/layoutBH/assets/images/@item.Anh" alt="">
                    </div>
                    <div class="down-content">
                        <h4>@item.TenSp</h4>
                        <span>@item.GiaBan</span>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
  }     
            <div class="col-lg-12">
                 <div class="pagination">
                  
                     <ul>
                        <li>
                            @Html.PagedListPager(Model,page=>Url.Action("HienThiSanPham",new{page=page}))
                        </li>
                       
                    </ul> 
                </div> 
            </div>
        </div>
    </div>
</section>->

